body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.46;
}

:root {
  --text-color: #212121;
  --color-link: #757575;
}

.header {
  text-decoration: none;
}
/*pasek nav*/
.link-nav:hover,
.link-nav:focus {
  color: #2196f3;
  text-decoration: none;
}

.link-nav {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.web {
  font-family: Raleway;
  color: #2196f3;
  font-size: 26px;
  font-style: bold;
  text-decoration: none;
}

.studio {
  font-family: Raleway;
  color: #000000;
  font-size: 26px;
  font-style: bold;
  text-decoration: none;
}

.link-mailto {
  color: var(--color-link);
}

.link-tel {
  color: var(--color-link);
}

.main-box {
  background-color: #2f303a;
  color: #ffffff;
  max-width: 1600;
  max-height: 600;
  font-weight: 900;
  text-align: center;
}

/*przycisk na głownej stronie*/
.button:hover,
.button:focus {
  color: #000000;
  background-color: #2196f3;
}
/*przycisk na głownej stronie*/
.button {
  background-color: #2196f3;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-weight: 700;
}

.advantages {
  font-weight: 700;
  text-align: center;
}

.advantages-paragraph {
  color: #757575;
}

.projects {
  max-width: 1170px;
}

.projects-heading {
  font-weight: 700;
  text-align: center;
}

.h3 {
  font-weight: 500;
}

.p {
  color: var(--color-link);
}

.footer-box {
  background-color: #2f303a;
  color: #ffffff;
  max-width: 1600px;
  max-height: 252px;
  text-decoration: none;
}

.studio-footer {
  font-family: Raleway;
  color: #ffffff;
  font-size: 26px;
  font-style: bold;
  text-decoration: none;
}

.footer-address {
  color: #ffffff;
}

.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
  text-decoration: none;
}

/*   PORTFOLIO    */

.portfolio-button {
  background-color: #f5f4fa;
  border: none;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 500;
}
